<%- include("../partials/head.ejs") %>
  </head>
  <body>
    <header><%- include("../partials/navbar.ejs") %></header>
    <main>
      <div class="form mx-3" style="max-width: 650px">
        <form action="/admin/add-product" method="POST">
          <div class="mb-3">
            <label for="name">Product Name</label>
            <input class="form-control" id="name" type="text" name="name" />
          </div>

          <div class="mb-3">
            <label for="price">Price</label>
            <input class="form-control" id="price" type="number" step="0.01" name="price" />
          </div>

          <div class="mb-3">
            <label for="imgLink">Image Link</label>
            <input class="form-control" id="imgLink" type="text" name="imgLink" />
          </div>

          <div class="mb-3">
            <!-- <label for="product-description">Description</label>
            <input class="form-control" id="product-description" type="text" name="description" /> -->
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
          </div>

          <input class="btn btn-primary" type="submit" value="Add" />
        </form>
      </div>
    </main>
<%- include("../partials/end.ejs")  %>