<%- include("../partials/head.ejs") %>
  </head>
  <body>
    <header><%- include("../partials/navbar.ejs") %></header>
    <main>
      <div class="form mx-3 w-50">
        <form action="/admin/add-product" method="POST">
          <div class="mb-3">
            <label for="productName">Product Name</label>
            <input class="form-control" id="productName" type="text" name="name" />
          </div>

          <div class="mb-3">
            <label for="product-price">Price</label>
            <input class="form-control" id="product-price" type="number" name="price" />
          </div>

          <div class="mb-3">
            <label for="product-description">Description</label>
            <input class="form-control" id="product-description" type="text" name="description" />
          </div>

          <div class="mb-3">
            <label for="product-imgLink">Image Link</label>
            <input class="form-control" id="product-imgLink" type="text" name="imgLink" />
          </div>

          <input class="btn btn-primary" type="submit" value="Add" />
        </form>
      </div>
    </main>
<%- include("../partials/end.ejs")  %>