<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>LOGIN</title>
  </head>
  <body>
    <header><%- include("./partials/navbar.ejs") %></header>
    <main>
      <h1>Admin</h1>
      <div class="form add-product">
        <form action="/admin/add-product" method="POST">
          <label for="product-name">Product Name</label>
          <input id="product-name" type="text" name="name" />
          <input type="submit" value="Add" />
        </form>
      </div>
    </main>
  </body>
</html>
