<%- include("./partials/head.ejs") %>
  </head>
  <body>
    <header><%- include("./partials/navbar.ejs") %></header>
    <main>
      <h1>Admin</h1>
      <div class="form add-product">
        <form action="/admin/add-product" method="POST">
          <label for="product-name">Product Name</label>
          <input id="product-name" type="text" name="name" />

          <label for="product-price">Price</label>
          <input id="product-price" type="number" name="price" />

          <label for="product-description">Description</label>
          <input id="product-description" type="text" name="description" />

          <label for="product-imgLink">Image Link</label>
          <input id="product-imgLink" type="text" name="imgLink" />

          <input type="submit" value="Add" />
        </form>
      </div>
    </main>
  </body>
</html>
